.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.label {
  font-weight: 600;
  margin-bottom: 4px;
  color: black;
}

.input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  color: black;
}

.error {
  color: red !important;
  font-size: 11px;
}

/* New styles for password toggle */
.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input {
  width: 100%;
  padding-right: 70px; /* Make room for the toggle button */
}

.password-toggle {
  position: absolute;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 10px;
  color: #555;
  background-color: #f1f1f1;
  border-radius: 3px;
}

.password-toggle:hover {
  background-color: #e1e1e1;
}